.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: rgb(61, 60, 60);
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
  height: 50px;
}

.App-header h1 {
  margin: 0 auto;
  color: darkgray;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: dimgray;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 40%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: lightgray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(45, 45, 252);
  color: white;
  display: inline-block;
}

.Message-content > .timestamp {
  font-size: smaller;
  color: lightgray;
}

.currentMember > .Message-content .text {
  background-color: rgb(103, 189, 243);
}

.emoji-mart {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(61, 60, 60);
}

#emoji-mart-search-2 {
  background-color: dimgrey;
  margin-bottom: 5px;
}

#emoji-mart-search-2::placeholder {
  color: white;
}

.emoji-mart-search-icon {
  background-color: white;
  top: 5px;
}

.emoji-mart-category-label span {
  background-color: rgb(61, 60, 60);
  color: white;
  border-radius: 0 0 10px 10px;
}

.emoji-mart-scroll {
  height: 125px;
  background-color: dimgray;
}

.emoji-mart-preview {
  height: 50px;
}

.emoji-mart-anchor {
  padding: 5px 4px;
}
.emoji-mart-anchors {
  height: 27px;
}

div#emojiContainer {
  text-align: center;
}

div#emojipopup {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: right;
  background-color: rgb(61, 60, 60);
}

#emoji-button {
  filter: grayscale(100%);
}

body {
  background-color: rgb(61, 60, 60);
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 5px auto 5px;
  background-color: rgb(61, 60, 60);
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid white;
  flex-grow: 1;
  background-color: dimgray;
}

input::placeholder {
  color: white;
  padding-left: 5px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(45, 45, 252);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  width: 100px;
  cursor: pointer;
}

button:active {
  transform: scale(.9); 
}

